/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 960px) {
    .column {
      flex: 50%;
      max-width: 50%;
      justify-content: center;
    }
    .row {
      justify-content: center;
    }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100vh; /* Full height */
        background-color: rgb(255,0,0); /* Fallback color */
        background-color: rgba(0,0,0,.5); /* Black w/ opacity */
    }
  
    .modalPopup {
      display: flex;
      padding: 22px;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      z-index: 1;
      width: 80%; /* Full width */
      min-width: 40%;
      height: 95vh; /* Full height */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0, 0, 0, .9); /* Black w/ opacity */
    
    }
  
    #video 
    {
        object-fit: contain;
        
    }



    .content
    {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-content: column;
      justify-content: center;
    }
  
    .infoTitle
    {
      font-size: 38px;
      padding: 20px;
      order: -1;
      width: 50%;
      margin-bottom: 10px;
      min-width: 40%;
      align-self: center;
    
    }
  

    .vidSyn
{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    object-fit: cover;
}
  
    .infoSynop
    {
      display: flex;
      font-size: 18px;
      padding: 20px;
      margin-left: 0px;
      margin-top: 10px;
      order:4;
      width: 100%;
      min-width: 40%;
      overflow: scroll;
      overflow-y: auto;
      overflow-x: auto;
      max-width: 420px;
      max-height: 200px;
    }
  
    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }
  
    /* The Close Button */
    .close {
        display: none;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        padding-bottom: 0px;
        order: 0;
        border: pink 2px solid;  
    }
  
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
  
    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
        font-size: 65px;
    }
  
    /* Add Animation */
    .modal-content, #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }
  
    /* Tooltip container */
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    }
  
    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
  
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    }
  
    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
  }
  